@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    background-color: #0F0F0F ;
    color: white;
    height: 60px;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
}


a.menu:hover{
    border-radius: 100px;
    background-color: grey;
}

input.barra{
    background-color: transparent;
    border-radius: 30px;
    width: 500px;
    height: 30px;
    padding-left: 15px;
    border: 1px solid rgb(68, 68, 68);
    margin-bottom: 10px;
}

span#search{
    background-color: #222222;
    font-size: 33px;
    border-radius: 30px;
    width: 50px;
    text-align: center;
}


